/* handle header navigation */

header {
    display: flex;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    top: 0;
    right: 0;
    z-index: 10000;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .navi {
    position: relative;
    display: flex;
}

nav .navi li {
    list-style-type: none;
}

nav .navi li a {
    display: inline-block;
    margin-left: 0.5rem;
    text-decoration: none;
    font-weight: 400;
    background: var(--primary-clr-n);
    color: var(--secondary-clr-n);
    filter: brightness(90%);
    padding: 0.5rem 0.4rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

nav .navi li a:hover {
    /* border-right: 2px solid var(--accent-clr); */
    color: var(--secondary-clr-light);
    transform: translateY(-6px);
    background: #444;
}

header h1 {
    font-family: var(--ff-h);
    font-size: 5em;
    font-weight: 900;
    text-align: center;
    /* color: #bb3dbb; */
}

header h1 a {
    text-decoration: none;
}


/* toggle the navigation menu */

.menuToggle {
    position: absolute;
    right: 1em;
    width: 40px;
    height: 40px;
    background: url(../images/menu.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    /* hide the hamburger icon on large screen */
}

.menuToggle.active {
    background: url(../images/close.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
}


/* .header.sticky .menuToggle {
    filter: invert(1);
} */

@media (max-width:991px) {
    header h1 {
        font-size: 2.4em;
    }
    header,
    header.sticky {
        padding: 10px 20px;
    }
    section.panorama,
    header .navi {
        display: none;
    }
    .menuToggle {
        /*show the hamburger icon*/
        opacity: 1;
    }
    header .navi.active {
        width: 50%;
        height: calc(100 - 90px);
        position: fixed;
        top: 90px;
        /* top: 0; */
        left: 25%;
        margin: 1.2em 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: var(--secondary-clr-t);
        border-radius: 10px;
        /* background: transparent; */
        /* transform: translateY(-100px) */
    }
    header .navi li {
        margin: 0;
    }
    header .navi li a {
        text-decoration: none;
        color: #111;
        font-size: 1.6em;
        background: none;
        color: var(--secondary-clr-n);
    }
}