@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300&display=swap');
:root {
    --ff: 'Montserrat', sans-serif;
    --ff-h: 'Roboto', sans-serif;
    --primary-clr: #0a2a43;
    --primary-clr-n: rgba(51, 51, 51, 0.623);
    --secondary-clr: #7790a3;
    --secondary-clr-t: rgba(119, 144, 163, 0.863);
    --secondary-clr-n: #fff;
    --secondary-clr-dark: #008b8b;
    --secondary-clr-light: #0ff;
    --accent-clr: #4ac7ff;
    --accent-clr2: rgba(255, 166, 0, 0.87);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff);
}

body {
    background: var(--primary-clr);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
    /* make the footer stick to the bottom with this */
}

.logo {
    position: absolute;
    top: 0.3em;
    left: 0.7em;
    font-size: 2em;
    color: var(--accent-clr2);
    z-index: 1000005;
}

.hero {
    position: relative;
    width: 100%;
    height: 50vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-msg {
    opacity: 0;
}

section.hero::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
    background: linear-gradient(to top, var(--secondary-clr), transparent);
    z-index: 10000;
}

section.hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: var(--primary-clr);
    z-index: 10000;
    mix-blend-mode: color;
}

.hero img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

main {
    /* padding: 100px 300px;
    overflow: hidden; */
    color: #111;
    background: var(--primary-clr);
}

main::before {
    content: 'Zini Living';
    position: fixed;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    font-size: 3.5em;
    font-weight: 700;
    text-align: center;
    color: transparent;
    -webkit-text-stroke: 1px #555;
}

main .feature {
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

.content h2 {
    /* font-family: 'Roboto', sans-serif; */
    margin: 0;
    padding: 0;
    /*Todo: uncomment for big screen
    font-size: 2em; 
    font-weight: 600;
    padding: 0.2em 1.5em;*/
    font-size: 1.4em;
    font-weight: 500;
    padding: 0.5em 1em;
    /* color: var(--secondary-clr-dark); */
    color: var(--accent-clr2);
}

.content p {
    /* font-family: 'Poppins', serif; */
    font-size: 1.2rem;
    margin-bottom: 1em;
    /* padding: 0.2em 3rem; */
    padding: 0.5em 2rem;
    line-height: 1.5em;
    letter-spacing: 2px;
    color: var(--secondary-clr-n);
}

main .feature .content .details {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main .feature .content .details .imgBox {
    position: relative;
    width: 100%;
    height: 100%;
    transition: 1s ease-out;
}

.imgBox:hover {
    transform: scale(1.5);
    transition: 1s ease-out;
}

main .feature .content .details .imgBox img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

main .feature .content .details .description {
    /* Todo: uncomment for big screen
    position: absolute;
    right: 0;
    margin-top: 200px;
    margin-bottom: 40px; 
    z-index: 1;
    width: 400px; */
    /* w, m, p added */
    width: 100%;
    margin: 0.5em 0;
    padding: 1em;
    background: var(--primary-clr-n);
    color: var(--secondary-clr-n);
    box-shadow: 0 25px 35px rgba(0, 0, 0, 0.1);
    border-bottom: 6px solid var(--accent-clr);
}

main .description li {
    list-style-type: none;
    padding-bottom: 0.7em;
    font-size: 1.2em;
}


/* message form */

.message {
    /* for big screen
    width: 500px;
    height: 450px;
    padding: 1em 2em; */
    width: 300px;
    height: auto;
    padding: 0.3rem;
    background: #fff;
    background: linear-gradient(to right bottom, blue, var(--primary-clr), var(--secondary-clr-n), red);
    opacity: 0.9;
    position: fixed;
    top: 100%;
    right: -60%;
    transition: 2s ease-out;
    z-index: 100000;
}

.message.active {
    top: 10%;
    right: 1em;
    transition: 2s ease-in;
}

.message h3 {
    color: var(--accent-clr);
    margin-bottom: 0.7em;
}

main .message form {
    display: flex;
    flex-direction: column;
}

input {
    padding: .5em;
    font-size: 1em;
    margin-bottom: 0.8em;
    background: var(--secondary-clr-n);
    opacity: 0.9;
    backdrop-filter: blur(10px);
}

#quotation {
    padding: 0.5em;
    font-size: 0.86em;
    background: var(--secondary-clr-n);
    backdrop-filter: blur(10px);
}

.btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

main button,
main .request-price,
main #btn_cancel {
    width: 8em;
    max-width: 10rem;
    height: 2.3em;
    margin-top: 0.3em;
    /* font-size: 1.1em; */
    font-size: 0.9em;
    color: var(--secondary-clr-n);
    background: var(--primary-clr);
    border: 2px solid var(--accent-clr);
    /* border: none; */
    border-radius: 10px;
}

button:hover {
    color: var(--accent-clr);
}

@media (min-width: 786px) {
    .hero {
        height: 100vh;
    }
    .text-msg {
        opacity: 1;
    }
    main::before {
        top: 45%;
        left: 50%;
        font-size: 13em;
        font-weight: 700;
        line-height: 0.5em;
    }
    section.top {
        width: 75ch;
    }
    .content h2 {
        font-size: 2.8em;
        font-weight: 600;
        text-align: start;
        margin-left: 1.5em;
    }
    main .feature .content .details {
        width: 100%;
        height: 90vh;
        /* height: 100vh; */
        justify-content: center;
        flex-direction: row;
    }
    .content p {
        margin-left: 3em;
        padding: 0.5em 3rem;
        width: 75ch
    }
    /* main .feature:nth-child(even) .content .details {
        flex-direction: row-reverse;
        
    } */
    main .feature .content .details .imgBox {
        overflow: hidden;
        box-shadow: 0 25px 35px rgba(0, 0, 0, 0.1);
    }
    main .feature .content .details .imgBox img {
        /* position: absolute;
        top: 0;
        left: 0; */
        width: 100%;
        height: 70vh;
    }
    main .feature .content .details .description {
        width: 50vw;
        margin-right: 5em;
        width: 50%;
    }
}